<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-0 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://pt-br.facebook.com/pages/category/Brazilian-Restaurant/Restaurant-Brasileirinho-519000101558702/"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/restaurantbrasileirinho/"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <!-- contact -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #000000;"
        href="https://127.0.0.1:8000/customer/contact"
        role="button"
        ><i class="fa fa-envelope" ></i
      ></a>
      
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   <p class="text-white" >Restaurant Brasileirinho</p>
  </div>
</footer>