{% extends "customer/base_customer.html.twig" %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
<div class="card py-5 my-5">
<p> hsuaihsuiahsuihsuiasuihsuashs auhzuia </p>
<p> hsuaihsuiahsuihsuiasuihsuashs auhzuia </p>
<p> hsuaihsuiahsuihsuiasuihsuashs auhzuia </p>


</div>
{% endblock %}
